In [15]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [16]:
#Cleaned and imported Amazon data
csv_file = "Resources/Amazon_data.csv"
amazon_df = pd.read_csv(csv_file)
amazon_df.head()

,amazon_title,amazon_author,amazon_rating,amazon_reviews count,amazon_isbn-10,amazon_price
0,Tell Me your Dreams,by Sidney Sheldon,4.4,160.0,8172234902,209
1,The Boy in the Striped Pyjamas (Definitions),by John Boyne,4.6,134.0,1862305277,350
2,Romancing the Balance Sheet: For Anyone Who Ow...,by Anil Lamba,4.5,156.0,9350294311,477
3,Mossad,by Michael Bar-Zohar - Import,4.6,637.0,8184958455,340
4,My Story,by Kamala Das,4.5,42.0,8172238975,178

In [31]:
#Renamed amazon_isbn-10 to isbn. This is where we will merge with goodread data

amazon_df = amazon_df.rename(columns = {"amazon_isbn-10":"isbn"})
amazon_df.head()

,amazon_title,amazon_author,amazon_rating,amazon_reviews count,isbn,amazon_price
0,Tell Me your Dreams,by Sidney Sheldon,4.4,160.0,8172234902,209
1,The Boy in the Striped Pyjamas (Definitions),by John Boyne,4.6,134.0,1862305277,350
2,Romancing the Balance Sheet: For Anyone Who Ow...,by Anil Lamba,4.5,156.0,9350294311,477
3,Mossad,by Michael Bar-Zohar - Import,4.6,637.0,8184958455,340
4,My Story,by Kamala Das,4.5,42.0,8172238975,178

In [41]:
#Included only thr rows from Amazon data that we will be using to merge
amazon_df = amazon_df[["isbn", "amazon_title", "amazon_author", "amazon_rating"]]
amazon_df.head()

,isbn,amazon_title,amazon_author,amazon_rating
0,8172234902,Tell Me your Dreams,by Sidney Sheldon,4.4
1,1862305277,The Boy in the Striped Pyjamas (Definitions),by John Boyne,4.6
2,9350294311,Romancing the Balance Sheet: For Anyone Who Ow...,by Anil Lamba,4.5
3,8184958455,Mossad,by Michael Bar-Zohar - Import,4.6
4,8172238975,My Story,by Kamala Das,4.5

### Create new data with select columns

In [32]:
#Cleaned and imported .csv from goodread and created a dataframe

csv_file = "Resources/books.csv"
goodreads_df = pd.read_csv(csv_file)
goodreads_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,9780439554893,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9780439655484,eng,435,2149872,33964

In [43]:
#Included only thr rows from goodreads data that we will be using to merge

goodreads_df = goodreads_df[["isbn", "title", "authors", "average_rating"]]
goodreads_df.head()

,isbn,title,authors,average_rating
0,0439785960,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56
1,0439358078,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49
2,0439554934,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47
3,0439554896,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41
4,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55

In [45]:
list(goodreads_df)

['isbn', 'title', 'authors', 'average_rating']

In [46]:
merged_df = pd.merge(goodreads_df,amazon_df, how = "left", on =["isbn"])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [20]:
new_customer_data_df = customer_data_df[['id', 'first_name', 'last_name']].copy()
new_customer_data_df.head()

KeyError: "None of [Index(['id', 'first_name', 'last_name'], dtype='object')] are in the [columns]"

### Store JSON data into a DataFrame

In [ ]:
json_file = "../Resources/Licence.json"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()

### Clean DataFrame

In [ ]:
new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df.head()

### Connect to local database

In [ ]:
rds_connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [ ]:
engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()